
* {
    font-family: 'Roboto', sans-serif;
    max-width: 1920px;
}

#wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

header {
    background-color: #E5E5E5;;
}

.conteiner{
    max-width: 1145px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}


.menu{
    text-align: center;
    padding: 16px 0;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.menu li{
    display: inline-block;
    list-style-type: none;
    padding: 0 15px;
}

ul{
    margin: 0;
    padding: 0;
}

li a {
    color: #333333;
}

a {
    text-decoration: none;
}

.sec1 {
    background-color: white;
    border-bottom: 1px solid #EFEFEF;
}

.conteiner::after{
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

.logo{
    padding: 20px 10px ;
    float: left;
}

.phone {
    padding: 40px 0 0 0;
    float: right;
}

.phone a {
    padding: 0 40px 0 0;
    color: #000000;
}

.phonebutton {
    border: 2px solid #F13C6E;
    border-radius: 40px;
    background-color: #FFFFFF;
    text-align: center;
    padding: 9px 51px;
    max-width: 170px;
}

.sec2 {
    background-color: white ;
}

.menu2 .menu {
    padding: 30px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
}


.backgroundimg {
    position: relative;
    background-color: #e5e5e5;
}

 .conteiner3{
    position: absolute;
    top: calc(100% / 3);
    left: 20%;
    max-width: 308px;
    padding: 0 15px;
    color: #FFFFFF;
}

.conteiner3 h1 {
    margin: 0;
    padding: 0 0 50px;
}

.conteiner3 p {
    margin: 0 0 50px;
}

.conteiner3 .phonebutton{
    border: 2px solid #FFFFFF;
    background-color: #F13C6E;
    color: #FFFFFF;
    padding: 8px 65px;
}

.sec3{
    background-color: #E5E5E5;
}

.sec3 h2{
    margin: 0;
    padding: 80px 0 38px;
}

.card {
    margin: 0 -20px;
    padding-bottom: 100px;
}

.card img {
    margin: 0 35px;
}

.card li{
    display: inline-block;
    list-style-type: none;
    padding: 0 15px ;
    background-color: #e5e5e5;
}

.cardbox{
    max-width: 255px;
    text-align: center;
    padding: 25px 30px;
    background-color: #FFFFFF;
}

.card .phonebutton {
    background-color: #F13C6E;
    color: #FFFFFF;
    margin: 0 0 0 -10px;
}

.cardbox p{
    margin: 0;
}

.cardbox h3 {
    margin: 0;
    padding: 20px 0 30px;
}

.pinkcard2,
.pinkcard1 {
    display: inline-block;
    max-width: 540px;
    padding: 35px 45px 35px 40px;
    background-color: #F13C6E;
    color: #FFFFFF;
}

.textpinkcard {
    display: inline-block;
    max-width: 250px;
}

.spanpinkcard {
    display: inline-block;
    max-width: 129px;
    padding: 25px 0;
}

.imgpinkcard {
    float: right;
    padding: 10px 0 0 90px;
}

.pinkcard2 h3,
.pinkcard1 h3 {
    padding: 0;
    margin: 0;
}

.pinkcard1 .phonebutton {
    max-width: 225px;
    display: block;
}

.pinkcard2 {
    float: right;
}

.pinkcard2 .phonebutton {
    display: block;
}

.pinkcard2 .imgpinkcard {
    padding: 30px 0 0 96px;
}

.pinkcard2 .phonebutton {
    max-width: 170px;
    padding: 9px 46px;
    background-color: #F13C6E;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}

.impulse {
    padding: 100px 0 0;

}

.impulsbox {
    width: 100%;
    border: 2px solid #E5E5E5;
    padding: 0 14px;
}   

.impimg {
    border: 1px solid #EFEFEF;
    display: inline-block;
    padding: 35px 65px;
    background-color: #FFFFFF;
    margin: -4px;
}


.pc {
    margin: 0;
    padding: 60px 156px 30px 0;
    border-bottom: 1px solid #EFEFEF;
    max-width: 255px;
}

.menu3 {
    padding: 25px 173px 60px 0;
}

.menu3 li {
    list-style: none;
    font-size: 12px;
    line-height: 28px;
    font-weight: 400;
}

.menu3 li>a {
    color: #828282;
}

.pcconteiner {
    display: inline-block;
    padding: 0 15px;
    margin: 0 -5px;
}

.pcc {
    border-bottom: 1px solid #EFEFEF;
}

.sn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #F13C6E;
    display: inline-block;
}

.youtube {
    padding: 12.25px 11.25px 11.25px 9.25px;
}

.facebook {
    padding: 11.25px 2.25px 11.25px 14.25px; 
}

.inst {
    padding: 9.25px 11.25px 11.25px 9.25px;;
}

.small {
    padding: 37px 10px;
}

footer {
    background-color: #E5E5E5;
    padding: 25px 0;
}

.f {
    float: left;
    color: #828282;
}

.pp {
    float: right;
    color: #828282;
}